* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
 }

 h1, p {
    text-align: center;
    margin: 5px;
 }

 canvas {
    background-color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
